* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 50px;
    width: 150px;
}

.search-box {
    position: relative;
    width: 400px;
}

.search-box input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-links img {
    height: 20px;
}

.nav-links a i{
    display: flex;
    flex-direction: row;
}

.menu-bar {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.menu-bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}