* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
}

header{
    border-bottom: 1px solid #ddd;
}


/* Nav-Bar */

.navbar {
    display: flex;
    height: 9vh;
    justify-content:space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.logo img {
    height: 90px;
    width: 150px;
    position: relative;
    left: 100px;
}

.search-box {
    position: relative;
    width: 400px;
}

.search-box img{
    width: 30px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.search-box input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.nav-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 25px;
    position: relative;
    right: 100px;
}

#download{
    gap: 20px;
}

#db1::before{
    content: "|";
    font-size: 35px;
    color: #ddd;
}

#db1{
    gap: 20px;
}

#db1::after{
    content: "|";
    font-size: 35px;
    color: #ddd;
}

#db2{
    gap: 20px;
}

#db2::after{
    content: "|";
    font-size: 35px;
    color: #ddd;
}

#download:hover{
    display: flex;
    border-radius: 0px;
    box-shadow: 0px 2px 0px rgba(45, 188, 231, 0.842);
}

#profile:hover{
    display: flex;
    border-radius: 0px;
    box-shadow: 0px 2px 0px rgba(45, 188, 231, 0.842);
}

.nav-links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
}

.nav-links img {
    height: 50px;
}


/* Menu-Bar */

/* .menu{
    display: flex;
    height: 7vh;
    justify-content: center;
    background-color: white;
    align-items: center;
}

.menu ul {
    display: flex;
    color: rgba(0, 0, 0, 0.699);
    list-style: none;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    width: 150vh;
    position: relative;
    left: 25px;
}

.menu ul::-webkit-scrollbar {
    display: none;
}

.menu ul li a {
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    font-weight: bold;
    font-size: 14px;
} */


/* Section */


section{
}