* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
}

header{
    border-bottom: 1px solid #ddd;
}


/* Nav-Bar */

.navbar {
    display: none;
    height: 9vh;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.logo img {
    height: 90px;
    width: 200px;
    position: relative;
    left: 80px;
}

.search-box {
    position: relative;
    right: 50px;
    width: 400px;
}

.search-box img{
    width: 30px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.search-box input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.nav-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 25px;
    position: relative;
    right: 100px;
}

#download{
    gap: 20px;
}

#db1::before{
    content: "|";
    font-size: 35px;
    color: #ddd;
}

#db1{
    gap: 20px;
}

#db1::after{
    content: "|";
    font-size: 35px;
    color: #ddd;
}

#download:hover{
    display: flex;
    border-radius: 0px;
    box-shadow: 0px 2px 0px rgba(45, 188, 231, 0.842);
}

.nav-links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
}

.nav-links img {
    height: 50px;
}


/* section */

section{
    padding: 100px 0px 0px 700px;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
}

.login-container img {
    width: 450px;
    border-radius: 8px;
    position: relative;
    margin-left: -20px;
    margin-top: -20px;
}

.login-container h2 {
    margin-bottom: 15px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #9c27b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background: #7b1fa2;
}

.otp-info {
    font-size: 12px;
    color: #555;
    margin-top: 10px;
}