body {
    background-image: url(./Asset/2560x1440-rising-in-red-4k-3840x2160_1705438068.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
}

header {
    background-color: rgba(238, 61, 61, 0.601);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

header img {
    width: 30px;
    height: 40px;
    margin-left: 30px;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-right: 30px;
}

header nav ul li a{
    color: rgb(41, 41, 41);
    text-decoration: none;
}

section {
    color: rgb(42, 41, 41);
    height: 84vh;
    justify-content: center;
    align-content: center;
    text-align: center;
}

footer {
    background-color: rgba(238, 61, 61, 0.601);
    color: rgb(24, 24, 24);
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 8vh;
}